.Button {
  background: #44b26f;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 14px 137px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 40px auto 80px;
  font-size: 16px;
}

.Button-products {
  background: white;
  color: #44b26f;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 15px 36px;
  outline: 0;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
}
