.Card {
  background-color: white;
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.Form {
  color: red;
  font-size: 14px;
}

.Icon-open-eye {
  fill: #44b26f;
  position: absolute;
  top: 60%;
  right: 20%;
  cursor: pointer;
  font-size: 25px;
}

.Icon-close-eye {
  display: none;
  cursor: pointer;
  font-size: 25px;
}

.Block-input-icon {
  position: relative;
}

.error-message-pw {
  /* color: red; */
  margin: 0px;
  /* font-size: 14px; */
  position: absolute;
  top: 100%;
  right: 40%;
}

.error-message-login {
  /* color: red; */
  margin: 0px;
  /* font-size: 14px; */
  position: absolute;
  right: 47%;
}

.Block-btn {
  position: relative;
}

.error-message-invalid {
  /* color: red; */
  /* font-size: 14px; */
  position: absolute;
  top: 90%;
  right: 35%;
}
